<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>HomePage</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="" class="logo" />
      <h1>Testing Data!</h1>
      <h2>Thank you for rating your experience. We hope to see you soon!</h2>
      <!-- <li class="active"><a href="/index">Open Form</a></li> -->
      <!-- make this into a post request -->
      <p><a href="{{ url_for('index_func') }}">Check out</a></p>
    </div>
    <div class=page>
      <h1>Inventory</h1>
      {% for vehicle in inventoryList %}
        <h2>{{vehicle.make}} </h2>
      {% endfor %}
    </div>
  </body>
</html>