
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style.css" />
    <title>Schedule a Test Drive</title>
  </head>
  <body>
        <div class="container">
          <img src="../static/logo.png" alt="Lexus" class="logo" />
          <!-- if fields are empty throw message -->
          {% if message %}
         <p class="message">{{ message | safe }}</p>
          {% endif %}

          <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
              <h3>Customer Information</h3>
              {{form.customerfirst(placeholder="First Name")}}
              {% for error in form.customerfirst.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
              {{form.customerlast(placeholder="Last Name")}}
              {% for error in form.customerlast.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
              {{form.zipcode(placeholder="Zipcode")}}
              {% for error in form.zipcode.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <br>
            <div class="form-group">
              <h3>Staff</h3>
              {{form.employee()}}
              {% for error in form.employee.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <br>
            <div class="form-group">
              <h3>Have you been here before?</h3>
              {{form.repeatcust(value="Yes")}} Yes
            </div>
            <br>
            <div class="from-group">
              <h3>Selected Vehicle</h3>
              <img src="{{vehicleInfo.imageURL}}" alt="car photo" style="width:25%" >
              <h4>{{vehicleInfo.year + ' ' + vehicleInfo.make + ' ' + vehicleInfo.model}}</h4>
              <a href="/"> Change Vehicle</a>
            </div>
            <p>{{form.submit(class="btn")}}</p>
            {{form.vin(value=vehicleInfo.vin)}}
          </form>
        </div>
  </body>
</html>