
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style.css" />
    <title>Schedule a Test Drive</title>
  </head>
  <body>
        <script>
          $(document).ready(function () {
            $("input[name='repeatcust']").on('click', function () {
              var elClicked = $(this);
              
              $("input[name='repeatcust']").prop("checked", false);
              elClicked.prop("checked", true);
            });
          });
        </script>
        <div class="container">
          <img src="../static/logo.png" alt="Lexus" class="logo" />
          <!-- if fields are empty throw message -->
          {% if message %}
         <p class="message">{{ message | safe }}</p>
          {% endif %}

          <form action="/submit" method="POST">
            <div class="form-group">
              <h3>Customer Information</h3>
              <input
                type="text"
                name="customerfirstname"
                placeholder="First Name"
              />
              <input
              type="text"
              name="customerlastname"
              placeholder="Last Name"
            />
              <input
                type="text"
                name="customerzipcode"
                placeholder="Zipcode"
              />
            </div>
            <br>
            <div class="form-group">
              <h3>Staff</h3>
              <select name="employee">
                <option value="">Select Employee</option>
                <option value="any">Any Employee</option>
                {% for employee in employeeList %}
                <option value="{{employee.employeeID}}">{{employee.firstname + ' '  + employee.lastname  }}</option>
                {% endfor %}
              </select>
            </div>
            <br>
            <div class="form-group">
              <h3>Have you been here before?</h3>
              <input type="checkbox" name="repeatcust" value="Yes" /> Yes
              <input type="checkbox" name="repeatcust" value="No" checked /> No
            </div>
            <br>
            <div class="from-group">
              <h3>Selected Vehicle</h3>
              <h4>{{vehicleInfo.year + ' ' + vehicleInfo.make + ' ' + vehicleInfo.model}}</h4>
            </div>
            <input type="submit" value="Schedule Test Drive" class="btn" />
            <input type="hidden" name="vin" value="{{vehicleInfo.vin}}" >
          </form>
        </div>
  </body>
</html>