<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank You!</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="" class="logo" />
      <h1>Test Drive Reserved!</h1>
      <h2>Appointment Details:</h2>
      <h3>Customer: {{form.customerfirst.data}} {{form.customerlast.data}}</h3>
      <h3>Zipcode: {{form.zipcode.data}} </h3>
      <h3>Vehicle: {{vehicleInfo.year}} {{vehicleInfo.make}} {{vehicleInfo.model}}</h3> 
      <h3>Employee: {{form.employee.data.firstname}} {{form.employee.data.lastname}}</h3>
      <a href={{"/index?vin=" + vehicleInfo.vin + "&confirmation=" + confirmation}}><p>Change appointment details</p></a>
    </div>
  </body>
</html>